.content-wrapper-project {
  padding: 24px 24px 18px !important;
  margin: 24px auto 41px !important;
  background: #fff;
  max-width: 1440px;
  transition: all 1s ease-out;
  .resource_heading {
    color: #515151;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .search-project-filter {
    justify-content: space-between;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    .search-project-box {
      display: flex;
      align-items: center;
      .search-bar {
        margin-right: 16px;
        input {
          padding: 6px 39px 6px 7px;
          &:focus-visible {
            outline: none !important;
          }
        }
        svg {
          right: 8px;
          bottom: 7px;
        }
      }
      .inner-filter-box {
        display: flex;
        gap: 4px;
        cursor: pointer;
        align-items: center;
        .filter-text {
          color: #084892;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          margin: 0;
        }
      }
    }

    // search-dropdown-data
    .search-dropdown-sec {
      width: 100%;
      height: calc(100vh - 150px);

      position: absolute;
      top: 63px;
      left: 0;
      z-index: 2;
      // background: rgba(8, 72, 145, 0.28);
      .search-dropdown-data {
        border-radius: 4px;
        width: 100%;
        height: auto;
        padding: 12px 10px 12px 10px;
        background: #ffffff;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

        .results_filter {
          .box {
            flex: 2;

            min-height: 60px !important;
            &:hover {
              background-color: #ddd;
              cursor: pointer;
            }
            .imgbox {
              width: 6%;
              max-height: 50px !important;
              flex-shrink: 0;
              border-radius: 4px;
              margin: 0;
            }
            .contentbox {
              .inner_content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .content_heading {
                  font-size: 14px;
                }

                .cotent-text {
                  color: #767676;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  margin: 0 0 4px;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  .list-grid-box {
    display: flex;
    align-items: center;
    gap: 0;
    cursor: pointer;
  }
  .results_filter {
    .arrow {
      width: 20px;
      background: #fff;
      .up_arrow {
        transform: rotate(-180deg);
      }
      img {
        transition: transform 0.4s ease-in-out 0s;
      }
    }
    .item_breadcrumb_details {
      display: flex;
      align-items: flex-start;
      .item_box {
        border-bottom: none !important;
        justify-content: flex-start;
        span {
          min-height: 96px;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
    .box {
      flex: 2;
      padding: 12px;
      gap: 16px;
      align-items: flex-start;
      border-bottom: 1px solid #dddddd !important;
      min-height: 92px;
      .imgbox {
        width: 12%;
        max-height: 114px;
        flex-shrink: 0;
        border-radius: 4px;
        margin: 0;
      }
      .contentbox {
        margin-top: 0;

        display: flex;
        justify-content: space-between;
        overflow: visible;
        align-items: center;

        ul {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 5px;
          li {
            list-style-type: none;
          }
          span {
            padding: 0 10px;
          }
        }
        .inner_content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          .content_heading {
            color: #084892;
            text-align: left;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            margin: 0 0 4px;
            line-height: 20px;
          }
          .view_content_heading {
            font-size: 18px;
            text-align: left;
            line-height: 24px;
          }
          .cotent-text {
            color: #767676;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin: 0 0 4px;
            line-height: 20px;
          }
          .view-content-box {
            display: flex;
            flex-direction: column;
            gap: 4px;
            .byTypebox {
              display: flex;
              gap: 4px;
              align-items: center;
              .by-type-content {
                color: #959595;
                margin: 0;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
              }
              .by-type-text {
                color: #084892 !important;
              }
            }
          }
          .content-link {
            color: #084892 !important;
            font-size: 14px;
            margin: 0 0 4px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            span {
              color: #767676;
              font-size: 14px;
              margin: 0;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
            }
          }
        }
      }
      .dropdown_contentbox_btns {
        justify-content: end;
      }
      .dropdown_contentbox_btns_details {
        @media screen and (max-width: 480px) {
          width: max-content;
        }
      }
      .btn-box {
        width: 100%;
        max-width: 114px;
        min-height: 144px;
        display: flex;
        align-items: end;
        .view-unit-box {
          display: flex;
          padding: 4px 8px;
          width: 100%;
          align-items: center;
          gap: 7px;
          border-radius: 4px;
          background: #f7faff;
          .unit-btn {
            border: none;
            color: #2e68bf;
            margin: 0;
            padding: 0;
            background: transparent;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }
        }
      }
      .dropdown-contentbox {
        justify-content: end;
      }
    }
    .details_box {
      gap: 5px;
    }
    .view_content_heading {
      font-size: 18px;
      font-style: normal;
      line-height: 24px;
    }
  }
  .main_accordion_filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  // Accordion
  .tab-content {
    border-radius: 4px;
    // overflow: scroll;
    box-shadow: 0px 2px 8px 1px rgba(8, 72, 146, 0.16);
    background: #fff;
    .search-project-card-head {
      width: 100%;
      border: none;
      border-radius: 8px;
      border-bottom: 1px solid #e5eeff !important;
      padding: 0;
      svg {
        color: #084892;
      }
    }
    .accordion {
      .card {
        border: none;
        overflow: inherit !important;
        .card-header {
          background-color: #fff;
          border-bottom: none;
          margin-bottom: 0px;
          padding-bottom: 0px;
          padding-top: 0px;
          margin-bottom: 10px;
        }
        .playlist-card {
          &:first-child {
            padding: 0px 30px !important;
            @media screen and (max-width: 480px) {
              &:nth-last-of-type(n + 1) {
                padding: 0 8px 30px 8px !important;
              }
            }
          }
        }
        .inner-card-body {
          padding: 0 0 0 82px;
        }
        .box {
          border-bottom: none;
          background: #fff;
          .search-content {
            p {
              max-width: 650px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .search-activity-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 79px;
        border-bottom: 1px solid #e5eeff;
        padding: 10px 10px;
        .activity-box {
          display: flex;
          align-items: center;
          .activity-thumb {
            width: 36px;
            height: 36px;
            margin-right: 20px;
            div {
              width: 100%;
              height: 100%;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center top;
              border: 1px solid rgba(204, 204, 204, 0.8);
            }
          }
        }
      }
      .seeMore-link {
        width: 100%;
        display: block;
        background: transparent;
        border: none;
        color: #084892;
        text-align: center;
        padding: 2px 0 8px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.28px;
        text-decoration-line: underline;
      }
    }
  }
  .search-playllist-content {
    width: 100%;
    border: 1px solid #e5eeff;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    .active-li {
      background: #fff;
      .playlist-dropdown {
        button {
          background-color: #e5eeff !important;
          border: none;
          &:hover {
            background-color: transparent;
          }
          &:focus {
            background-color: #e5eeff !important;
            border: none;
          }
        }
      }
    }
    .non-active-li {
      background: #fff;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      padding: 8px;

      .search-playlist-title {
        width: 100%;
        display: flex;
        align-items: center;
        svg {
          color: #084892;
        }
        .playlist-title {
          width: 100%;
          text-align: left;
          border-bottom: 1px solid #e5eeff;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #084892;
          margin: 0 0 0 8px;
          padding: 7px 0 8px 0;
        }
        .playlist-inner-title {
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }
  }
  // search dropdown styling
  .search-dropdown-main {
    width: 100%;
    min-height: 492px;
    // background: rgba(8, 72, 146, 0.8);
    // mix-blend-mode: multiply;
    .search-dropdown-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      // min-height: 492px;
      background: #fff;
      border: 1px solid #ddd;
      box-shadow: 0px 12px 12px 6px rgba(81, 81, 81, 0.16);
      // background: rgba(8, 72, 146, 0.8);
      padding: 0 17px 8px;
      .search-filter {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        align-items: flex-start;
        padding: 4px 4px 12px;
        border-bottom: 1px solid #ddd;
        gap: 8px;
        .logo {
          border-radius: 125px;
          border: 1px solid #ddd;
        }
        .search-dropdown-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .search-dropdown-details {
            color: #767676;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin: 0;
            line-height: 20px;
          }
          .dropdown-heading {
            width: 100%;
            max-width: 428px;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #000 !important;
          }
          .publish-name {
            color: #084892 !important;
          }
          .content-detail {
            color: #767676 !important;
          }
        }
        .search-dropdown-filter {
          display: flex;
          align-items: flex-start;
          gap: 8px;
        }
      }
      .seeMore-link {
        color: #084892;
        text-align: center;
        margin: 12px 0 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.28px;
        text-decoration-line: underline;
      }
      .search-playlist-dropdown {
        .dropdown-toggle {
          width: 100%;
          background: #fff;
          border: none !important;
          &:focus {
            box-shadow: none;
          }
          &::after {
            display: none;
          }
        }
      }
    }
  }
  // same styling
  .content-pdf-box {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    .content-pdf {
      color: #084892 !important;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      margin: 0;
      line-height: 20px;
      letter-spacing: 0.28px;
    }
    .content-slash {
      background: #767676 !important;
      width: 1.5px;
      margin: auto;
      height: 17px;
    }
    .flexer {
      display: flex;
      gap: 10px;
      align-items: center;

      a {
        color: #fff;
      }
    }
    .chapter_flexer {
      width: 100%;
      align-items: flex-start;
      flex-direction: column;
      gap: 0px;

      .cotent-text {
        display: flex;
        gap: 3px;
      }
    }
    p {
      margin: 0 !important;
    }

    button {
      border: none;
      padding: 5px;
      font-size: 14px;
      border-radius: 4px;
      background-color: #084892;
      color: #fff;
    }
  }
  .details_content-pdf-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px !important;
    .content_details {
      display: flex;
      align-items: center;
      gap: 3px;
      @media screen and (max-width: 480px) {
        gap: 1px;
      }
      .cotent-text {
        font-weight: 500 !important;
      }
      .license_text {
        min-width: 100px;
      }
    }
  }
  .meta_content-pdf-box {
    justify-content: flex-start;
    color: #767676;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    font-weight: 500;
    @media screen and (max-width: 480px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0px;
    }
  }
}
.view-btn-box {
  width: 100%;
  max-width: 114px;
  display: flex;
  margin-right: 8px;
  align-items: end;
  .view-unit-box {
    display: flex;
    padding: 4px 8px;
    width: 100%;
    align-items: center;
    gap: 7px;
    border-radius: 4px;
    background: #f7faff;
    .unit-btn {
      border: none;
      color: #2e68bf;
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
.ch-box {
  max-width: 134px;
}
.playlist-dropdown {
  .dropdown-item {
    color: #084892 !important;
    padding: 4px 6px;
    margin-bottom: 0;
    border-radius: 4px;
    &:hover {
      background: rgba(229, 238, 255, 0.32) !important;
      border-radius: 4px !important;
    }
    &:active {
      background: rgba(229, 238, 255, 0.32) !important;
      border-radius: 4px !important;
    }
  }
  .dropdown-menu.show {
    min-width: 200px;
    box-shadow: 0px 2px 8px 1px rgba(8, 72, 146, 0.16) !important;
    border-radius: 4px;
    border: none;
    top: 20px !important;
    left: -180px !important;
    background: #fff;
    opacity: inherit !important;
    z-index: 1001 !important;
    padding: 8px 8px;
  }
  .dropdown-toggle::after {
    content: none !important;
  }
  button {
    background-color: #fff !important;
  }
  .dropDown-item-name-icon {
    svg {
      margin-right: 8px;
    }
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #084892;
      &:hover {
        color: #2e68bf;
      }
    }
  }
  .dropDown_btn {
    color: #084892 !important;
    padding: 4px 6px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    &:hover {
      background: rgba(229, 238, 255, 0.32) !important;
      border-radius: 4px !important;
    }
    &:active {
      background: rgba(229, 238, 255, 0.32) !important;
      border-radius: 4px !important;
    }
  }
  .add_btn {
    padding: 5px 5px 5px 9px !important;
  }
}

// test accordion
/* Apply box shadow to the first parent accordion item header */
.tab-content.book-accordion {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
  // &:not(:last-child) {
  margin-bottom: 12px;
  // }
  &:not(:first-child) {
    box-shadow: none !important;
  }

  .book-acc {
    .book-acc-card {
      .acc-card-header {
        padding: 18px 28px 18px 20px !important;
        outline: none !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;

        .accordion-toggle-header {
          width: 100%;
          border: none !important;
          outline: none !important;
          padding: 0 !important;

          .box {
            min-height: auto !important;
            border-bottom: 0 !important;
            padding: 0 !important;

            .imgbox {
              width: 10% !important;
              height: 82px;
              object-fit: cover;
            }
          }
        }
      }

      .playlist-card.inner-card-body.acc-card-body {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  }
}

@media (max-width: 991px) {
  .modal-dialog {
    max-width: 800px !important;
    margin: 1.75rem auto !important;
  }
}

.breadcrum-design {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 14px;
  align-items: center;
  span {
    padding: 0 5px;
  }
}

.footer-copyright {
  margin: 0 auto;
  padding: 10px 10px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 11111;
  background: #fff;
  span {
    color: #2e68bf;
    cursor: pointer;
  }
}

.copyright-data {
  font-family: Arial, sans-serif;
  color: #333; /* Adjust color as needed */

  max-height: 600px;
  overflow: auto;

  .Copyright-Text-Title {
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold;
  }

  .Copyright-Text {
    font-size: 14px; /* Adjust font size as needed */
    padding-bottom: 10px;
    a,
    code {
      color: blue; /* Adjust link color as needed */
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .Code-within-text {
      font-family: monospace;
      /* Additional styling for code within text if needed */
    }
  }

  .Copyright-Disclaimer-Box {
    font-size: 12px; /* Adjust font size as needed */
    color: #777; /* Adjust color as needed */
    margin-top: 10px; /* Adjust spacing as needed */
  }
}
